\documentclass[]{template1}
\usepackage{titlesec}
\usepackage{fancyhdr}
\usepackage{hyperref}
\pagestyle{fancy}
\fancyhf{}
\titleformat{\subsection}{\raggedright\large\bfseries\uppercase}{}{0em}{}

\begin{document}
\sloppy
\namesection{ {{ name }} }{
    \href{mailto:{{ email }}}{ {{ email }} }{% if email and phone %} | {% endif %}\href{tel:{{ phone }}}{ {{ phone }} }
    {% if website and phone %} | {% endif %}
    \url{ {{- website -}} }
}{
    \url{ {{- linkedin -}} }
}

\begin{minipage}[t]{0.60\textwidth}

{% if jobs | length > 0 %}
    \customheading{Experience}
    {% for job in jobs %}
    \runsubsection{ {{ job.company }} }
    \descript{ {% if job.company and job.title %} | {% endif %}{{ job.title }} }
    \location{ {{ job.date_range }}{% if job.date_range and job.location %} | {% endif %}{{ job.location }} }
    \begin{tightemize}
        {% for desc_item in job.desc_items %}
            {% if desc_item %}
                \item {{ desc_item }}
            {% endif %}
        {% endfor %}
    \end{tightemize}
    \sectionsep
    {% endfor %}
{% endif %}

{% if projects | length > 0 %}
    \customheading{Projects}
    {% for project in projects %}
        \runsubsection{ {{ project.name }} }
        \descript{ {% if project.name and project.introduction %} | {% endif %}{{ project.introduction }} }
        \location{ {{ project.dates }}{% if project.dates and project.location %} | {% endif %}{{ project.location }} }
        \begin{tightemize}
            {% for desc_item in project.desc_items %}
                {% if desc_item %}
                    \item {{ desc_item }}
                {% endif %}
            {% endfor %}
        \end{tightemize}
        \sectionsep
    {% endfor %}
{% endif %}

\end{minipage}
\hfill
\begin{minipage}[t]{0.33\textwidth}

{% if educations | length > 0 %}
    \customheading{Education}
    {% for education in educations %}
        \subsection{ {{education.school}} }
        \descript{ {{ education.degree }} }
        \location{ {{ education.date_range }}{% if education.date_range and education.location %} | {% endif %}{{ education.location }} }
        \begin{tightemize}
            {% for desc_item in education.desc_items %}
                {% if desc_item %}
                    \item {{ desc_item }}
                {% endif %}
            {% endfor %}
        \end{tightemize}
        \sectionsep
    {% endfor %}
{% endif %}

{% if skills | length > 0 %}
    \customheading{Skills}
    \begin{tightemize}
        {% for skill in skills %}
            {% if skill %}
                \item {{ skill }}
            {% endif %}
        {% endfor %}
    \end{tightemize}
{% endif %}
\sectionsep

\end{minipage}
\end{document}